.tac {
    text-align: center;
}
.card {
    border: none;
}
.card-footer {
    border: none;
    background: none;
}
select {
    cursor: pointer;
}
label {
    margin-bottom: 4px;
    font-weight: 600;
}
.form-control {
    font-weight: 500;
    padding: 10px 12px;
    background: rgba(0,0,0,.03);
    border-radius: 8px;
}
select.form-control:not([size]):not([multiple]) {
    height: auto;
}