.tac {
    text-align: center;
}
.card {
	margin: 50px 0;
    border: none;
}
.card-footer {
    border: none;
    background: none;
}
select {
    cursor: pointer;
}
label {
    margin-bottom: 4px;
    font-weight: 600;
}
.form-control {
    font-weight: 500;
    padding: 10px 12px;
    background-color: #f5f8fa;
    border-color: #f5f8fa;
    color: #5e6278;
    border-radius: 8px;
}
.form-control:focus {
    background-color: #eef3f7;
    border-color: #eef3f7;
    color: #5e6278;
    box-shadow: none;
}
.form-control:active {
    background-color: #eef3f7;
    border-color: #eef3f7;
    color: #5e6278;
}
select.form-control:not([size]):not([multiple]) {
    height: auto;
}
.input-file {
	position: relative;
	display: flex;
    margin-top: 20px;
}
.input-file-text {
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
	padding: 3px 10px;
	font-size: 13px;
	line-height: 16px;
	text-align: left;
	height: 40px;
	width: 200px;
	border-radius: 6px 0px 0 6px;
	border: 1px solid #ddd;
}
.input-file-btn {
    position: relative;
    width: 50%;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 0 4px 4px 0;
	background-color: #009ef7;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

/* Focus */
.input-file input[type=file]:focus + .input-file-btn {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover/Active */
.input-file:hover .input-file-btn {
	background-color: #181c32;
}
.input-file:active .input-file-btn {
	background-color: #181c32;
}

/* Disabled */
.input-file input[type=file]:disabled + .input-file-btn {
	background-color: #eee;
}